<div class="row">
  <div class="col-xl-12 col-xxl-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Ingresar nuevo plan</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="formPlanes" (ngSubmit)="submit()">
          <div class="row">

           <!--  <div class="col-lg-4 mb-3" >
              <div class="form-group">
                <label class="text-label">Nombre del plan<span class="required">*</span></label>
                <input type="text" name="plan" formControlName="plan" class="form-control form-control-sm">



              </div>
            </div> -->
            <div class="col-lg-4 mb-3" >
              <div class="form-group">
                <label class="text-label">Tipo plan<span class="required">*</span></label>
                <ng-select [items]="tiposPlan"
                placeholder="Seleccionar tipo plan"
                bindLabel="nombre"
                bindValue="nombre"
                [multiple]="false"
                  formControlName="tipo" [(ngModel)]="selectedPlan" >
                </ng-select>




              </div>
            </div>

            <div class="col-lg-4 mb-3" >
              <div class="form-group">
                <label class="text-label">Arancel<span class="required">*</span></label>
                <input type="number" name="precio" formControlName="precio"  class="form-control form-control-sm">



              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-12">
              <button class="btn btn-primary btn-block" type="submit"
              [disabled]="!formPlanes.valid">Guardar</button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Disciplinas de la academia</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-responsive-lg table-striped table-hover">
            <thead>
              <tr>
              <!--   <th>Plan</th> -->
                <th>Plan</th>
                <th>Arancel</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody *ngIf="planes.length > 0;else sinData">
              <tr *ngFor="let item of planes;let i =index">

               <!--  <td>{{item.nombre}}</td> -->
                <td>



                  {{item.duracion}}
                </td>
                <td>
                  <input class="form-control" type="number" *ngIf="editingIndex === i; else viewMode" matInput
                  [(ngModel)]="item.precio" placeholder="Ingresar el nuevo precio">

                <ng-template #viewMode>
                  <span class="badge light badge-primary">$ {{item.precio | number}}</span>

                </ng-template>
                  <!-- <span class="badge light badge-primary">$ {{item.precio | number}}</span> -->
                </td>


                <td>
                  <button *ngIf="editingIndex === i; else editButton" mat-icon-button color="primary" (click)="stopEdit()">
                    <mat-icon>save</mat-icon>

                  </button>
                  <button mat-icon-button color="warn" *ngIf="editingIndex === i" (click)="cancel(i)">
                    <mat-icon>cancel</mat-icon>

                  </button>
                  <button mat-icon-button (click)="onDelete(item)">
                    <mat-icon class="text-danger">delete</mat-icon>
                  </button>

                  <ng-template #editButton>
                    <button mat-icon-button color="primary" (click)="onEdit(i,item)">
                      <mat-icon>edit</mat-icon>
                    </button>

                  </ng-template>


                </td>
              </tr>

            </tbody>

            <ng-template #sinData>
              <tbody>
                <tr>
                  <td colspan="7" align="center">Sin datos</td>
                </tr>
              </tbody>
            </ng-template>


          </table>
        </div>
      </div>
    </div>
  </div>
</div>

